<div>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			ListAll <small>Control panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">ListAll</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
	
		<!-- Search Tab -->
		<div class="box box-info container">
			<div class="row">
				<div class="col-sm-2">
					<div class="btn-group" uib-dropdown dropdown-append-to-body style="margin-top: 10px;">
			            <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
			            	{{searchKeywordType}} <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
			              <li role="menuitem" ng-repeat="searchKeywordType in searchKeywordTypeList">
			              	<a ng-click="onClickSearchKeywordType(searchKeywordType)">{{searchKeywordType}}</a>
			              </li>
			            </ul>
			    	</div>
				</div>
			
				<div class="box-body col-sm-10" style="width: 400px;">
		        	<div class="input-group">
		        		<input id="searchTab" type="text" class="form-control" placeholder="Search.." ng-model="searchKeyword">
		           		<div class="input-group-btn">
				        	<button id="searchButton" type="button" class="btn btn-primary btn-flat" ng-click="onClickSearchButton()"
				        		style="border-color: rgb(0, 192, 239); background-color: rgb(0, 192, 239);">
				            		Search
				       		</button>
		        		</div>
		        	</div>
		    	</div>
	    	</div>
	    </div>
	
		<!-- Board -->
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">LIST ALL PAGE</h3>
			</div>
			<div class="box-body">
				<table class="table table-bordered">
					<tr>
						<th style="width: 10px">BNO</th>
						<th>TITLE</th>
						<th>WRITER</th>
						<th>REGDATE</th>
						<th style="width: 40px">VIEWCNT</th>
					</tr>
					<tr ng-repeat="book in bookList">
						<td>{{book.bno}}</td>
						<td><a href='#!/read?bno={{book.bno}}'>{{book.title}}</a></td>
						<td>{{book.writer}}</td>
						<td>{{book.regdate | date:'yyyy-MM-dd HH:mm'}}</td>
						<td><span class="badge bg-aqua-active">{{book.viewcnt}}</span></td>
					</tr>
				</table>
				
				<!-- memo. 아래를 쓰려면 반드시 ui-bootstrap-tpls를 다운로드 받아야 한다. -->
				<uib-pagination
					ng-show="showPagination"
					boundary-links="true" total-items="totalItems" ng-model="currentPage" 
					ng-change="pageChanged()" max-size="maxSize" items-per-page="itemsPerPage"
					class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
					first-text="&laquo;" last-text="&raquo;">
				</uib-pagination>

			</div>
			<div class="box-footer">Footer</div>
		</div>
	</section>
</div>